article section > img {
    width:50px
}

progress {
    width:100%;
}

.bar {
    background:red;
    height:2px;
}

article > section > span {
    border:1px solid green;
    border-radius: 0.1em;
}