article section > a > img {
    height:100px;
    width:auto;
}

.media,
article section > figure > a > img {
    height:200px;
    width:auto;   
}

progress {
    width:100%;
}

.bar {
    background:red;
    height:2px;
}

article > section > span {
    border:1px solid green;
    border-radius: 0.1em;
}

section {
    margin-top: 10em;
    margin-bottom: 10em;
}